


<ion-content>

  <!--- <div class="center-accordion">
    <ion-button (click)="cambiarFondoSinParadas()"> Cambiar FONDO </ion-button>
    <ion-button (click)="updateData()"> EMMITER </ion-button>
  </div> -->

  


  
  <div class="center-accordion">

    <p class="title-bottom">Filtrar</p>
    <p> Aquí podrás visualizar las estaciones más cercanas, al igual que los puntos de recarga en tu zona. Solamente debes seleccionar qué deseas ver. </p>

    <div class="center-switches">
    <p>Ver paradas</p>
    <ion-toggle [(ngModel)]="toggleValue" (ionChange)="changeValueParadas()"></ion-toggle>  
    </div>
    <div class="center-switches">
    <p>Ver puntos de recarga</p>
    <ion-toggle [(ngModel)]="toggleValue2" (ionChange)="changeValueRecargas()"></ion-toggle>
    </div>
    

</div>
  

  
</ion-content>
  