:host{

}

ion-accordion{
    top: 40px;
  
    border-radius: 25px;
    background: #88B0DB;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 300px;
  }
  
  ion-list{
    background: #88B0DB;
  }
  
  .ion-item-space-bw {
    margin-top: -12px;
  }
  
  .ion-item-space-bw-2 {
    margin-top: -17px;
  }

  
  p{
    font-size: 15px;
    
  }

  ion-title{
    height: 70px;
  }

  
  
  
  .accordion-yellow-text{
    color: #F6FFBD;
  }
  
  .item-color-p{
    color: #FFFFFF;
  }
  
  ion-item::part(native){
    background-color: #88B0DB;
  }

  .center-switches{
    display: flex;
    justify-content: space-between;
  }

  .toggle-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%; /* Opcional si quieres que el div ocupe toda la altura disponible */
  }

  ion-toggle {
    --background-checked: #235284 !important;
  }

  ion-modal::part(handle){
    width: 200px !important;
  }

  .modal-wrapper {
    width: 200px;
    height: 8px;
  }
  
  .center-accordion{
    display: grid;
    justify-content: center;
    color:red($color: #000000);
    margin-top: 0px;
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-top: 35px;
  }

  .title-bottom{
    font-size: 30px !important;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  
  .top-accordion{
    top: 60px;
  }
  
  
  ion-item{
    border-radius: 25px;
  }
  
  ion-padding{
    border-radius: 25px;
      background: #88B0DB;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  
  }
  
  accordion-collapsed{
    background-color: black;
  }
  