

<ion-content [fullscreen]="true" scroll-y="false">

  <ion-toolbar >
        
  
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="home()" class="boton-volver-topbar">
        <ion-icon class="color-black" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
<div class="center">

  
  
  <div class="nume">

    <div class="centerpolice">
      <ion-img src="../../assets/teacher.svg"></ion-img>
    
    </div>
   
    <p class="policetitle"> <b>Tía Paola</b> </p>
    <p class="a123">+57 (300) 666-324</p></div>
  <div class="botones">
    <ion-button class="boton" id="mute" shape="round" size="large">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-button>
    <ion-button class="boton" id="altavoz" shape="round" size="large">
      <ion-icon name="keypad-outline"></ion-icon>
    </ion-button>
    <ion-button class="boton" id="terminar" shape="round" size="large">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="botones2">
    <ion-button class="boton" id="mute" shape="round" size="large">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="boton" id="altavoz" shape="round" size="large">
      <ion-icon name="volume-high"></ion-icon>
    </ion-button>
    <ion-button class="boton" id="terminar" shape="round" size="large">
      <ion-icon name="recording-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="asd">
    <ion-button  (click)="home()" id="mute" shape="round" size="large">
      <ion-icon  name="call-outline"></ion-icon>
    </ion-button>
  </div>
  
  
</div>
  



</ion-content>
